.form {
  box-sizing: border-box;
  padding-top: var(--space-medium);
  padding-bottom: var(--space-medium);
}

.input-field {
  margin-bottom: var(--space-small);
}

.form button {
  margin-top: var(--space-medium);
}
