/* Colors */
:root {
  --color-primary: var(--swatch-red);
  --color-secondary: var(--swatch-black);
  --color-text: var(--swatch-white);
}

/* Space */
:root {
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-ultra: 48px;
}

/* Other */
:root {
  --border-radius: 4px;
}
